* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color:lightgray;
  }
  
  #wrapper {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
  }
  
  .main-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    background-color:white;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
  }
  
  .header {
    border: 0px solid #000;
    margin-bottom: 5px;
  }
  
  .header img {
    height: 50px;
    width: 175px;
    margin: auto;
    position: relative;
    left: 40px;
  }
  .label{
    padding-left: 20px;
  }
  .input-1,
  .input-2 {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .overlap-text {
    position: relative;
  }
  
  .overlap-text a {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Overpass Mono', monospace;
    letter-spacing: -1px;
  }
  
  .btn {
    width: 100%;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 22px;
  }
  
  .center-align {
    display: flex;
    align-items: center;
    justify-content: center;
      
}
  
  input:focus {
      background-color: yellow;
  }

 
/* Add this CSS for the input icons */
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    position: relative; /* Ensure relative positioning for the icons */
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 10px;
    min-width: 40px;
    text-align: center;
    font-size: 18px; /* Adjust the font size as needed */
    color: #888; /* Color of the icons */
}

.input-field {
    width: calc(100% - 60px); /* Adjust the width to account for the icon and padding */
    padding: 10px 10px 10px 60px; /* Adjust the padding to make space for the icon */
    text-align: center;
    margin-bottom: 3px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
}

/* Add this CSS for the remember-forgot section */
.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px; /* Add some margin to separate it from the buttons */
}

.forgot-password {
    text-align: right;
    color: #003569; /* Color for the "Forgot password?" link */
    text-decoration: none;
    font-family: 'Overpass Mono', monospace;
    font-size: 14px;
    letter-spacing: -1px;
}
